*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
#nav_search{
    height:40%;
    width: 20%;
    border: 1px solid rgba(128, 128, 128, 0.726);
    padding-left:2%;
    border-radius:5px ;
    box-shadow: 0px 0px 3px;

}
#nav_search::placeholder{
    font-style: italic;
}
.main{
    height:90vh;
    width:100%;
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.con{
    height: 8%;
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 5%;

}
.con select{
    height: 80%;
    width: 20%;
}